<script type='text/javascript'>
//<![CDATA[
$(document).ready(function() {
	$('#selectmode').change(function() {
		if($(this).val() == '1'){
			$('.transaction').show();
			$('.item').hide();
			$('#header_name').text('{L_gb_ta_head_transaction}');
		}else{
			$('.transaction').hide();
			$('.item').show();
			$('#header_name').text('{L_gb_ta_head_item}');
		}
	}).trigger('change');
});
</script>

<form method="post" action="{ACTION}" name="addWC">
<input type="hidden" name="banker" value="{BANKERID}">
<input type="hidden" name="item" value="{ITEMID}">
<input type="hidden" name="transaction" value="{TAID}">
<input type="hidden" name="editmode" value="{EDITMODE}">
<input type="hidden" name="mode" value="{MODE}">

<fieldset class="settings smallsettings">
	<legend id="header_name">{L_gb_ta_head_item}</legend>
	<dl>
		<dt><label>{L_gb_mode}:</label></dt>
		<dd>{DD_MODE}</dd>
	</dl>
	<dl class="item">
		<dt><label>{L_item_name}:</label></dt>
		<dd>
			<input type="text" name="name" size="20" value="{V_NAME}" class="input" />
		</dd>
	</dl>
	<dl class="transaction">
		<dt><label>{L_gb_subject}:</label></dt>
		<dd>
			<input type="text" name="subject" size="20" value="{V_SUBJECT}" class="input" />
		</dd>
	</dl>
	<dl class="item">
		<dt><label>{L_gb_rarity}:</label></dt>
		<dd>{DD_RARITY}</dd>
	</dl>
	<dl class="item">
		<dt><label>{L_gb_type}:</label></dt>
		<dd>{DD_TYPE}</dd>
	</dl>
	<dl class="item">
		<dt><label>{L_gb_amount}:</label></dt>
		<dd><input type="text" name="amount" size="5" value="{AMOUNT}" class="input" /></dd>
	</dl>
	<dl class="transaction">
		<dt><label>{L_money}:</label></dt>
		<dd>{MONEY}</dd>
	</dl>
</fieldset>
<input type="submit" name="save" value="<!-- IF S_EDIT -->{L_rb_edititem_button}<!-- ELSE -->{L_rb_additem_button}<!-- ENDIF -->" class="mainoption bi_ok" />
{CSRF_TOKEN}
</form>