<form name="gr_settings" action="{ACTION}" method="post">
	<fieldset class="settings">
		<legend>{L_gb_header_global}</legend>
		<div id="sb_settings_general">
			<dl>
				<dt>
					<label>{L_gb_auto_adjust}</label><br/>
					<span>{L_gb_auto_adjust_help}</span>
				</dt>
				<dd>
					<label>{R_AUTO_ADJUST}</label>
				</dd>
			</dl>
			
			<dl>
				<dt>
					<label>{L_gb_hide_banker}</label><br/>
					<span>{L_gb_hide_banker_help}</span>
				</dt>
				<dd>
					<label>{R_HIDE_BANKER}</label>
				</dd>
			</dl>
			
			<dl>
				<dt>
					<label>{L_gb_no_banker}</label><br/>
					<span>{L_gb_no_banker_help}</span>
				</dt>
				<dd>
					<label>{R_NO_BANKER}</label>
				</dd>
			</dl>
			<dl>
				<dt>
					<label>{L_gb_hide_money}</label><br/>
					<span>{L_gb_hide_money_help}</span>
				</dt>
				<dd>
					<label>{R_HIDE_MONEY}</label>
				</dd>
			</dl>
			<dl>
				<dt>
					<label>{L_gb_show_tooltip}</label><br/>
					<span>{L_gb_show_tooltip_help}</span>
				</dt>
				<dd>
					<label>{R_SHOW_TOOLTIP}</label>
				</dd>
			</dl>
		</div>
		<br />
		<div class="center">
			<input type="submit" name="sb_save" value="{L_save}" class="mainoption bi_ok" />
			<input type="reset" name="sb_reset" value="{L_reset}" class="liteoption bi_reset" />
		</div> 
	</fieldset>
	{CSRF_TOKEN}
</form>