<form method="post" action="{ACTION}" name="addWC">
<input type="hidden" name="banker" value="{BANKERID}">
<input type="hidden" name="item" value="{ITEMID}">

<fieldset class="settings smallsettings">
	<dl>
		<dt><label>{L_name}:</label></dt>
		<dd>
			<input type="text" name="name" size="20" value="{VALUE}" class="input" />
		</dd>
	</dl>
	<dl>
		<dt><label>{L_gb_rarity}:</label></dt>
		<dd>{RARITY}</dd>
	</dl>
	<dl>
		<dt><label>{L_gb_type}:</label></dt>
		<dd>{TYPE}</dd>
	</dl>
	<dl>
		<dt><label>{L_gb_amount}:</label></dt>
		<dd><input type="text" name="amount" size="5" value="{AMOUNT}" class="input" /></dd>
	</dl>
	<dl>
		<dt><label>{L_money}:</label></dt>
		<dd>{MONEY}</dd>
	</dl>
	<dl>
		<dt><label>{L_gb_dkp}:</label></dt>
		<dd><input type="text" name="dkp" size="5" value="{DKP}" class="input" /></dd>
	</dl>
</fieldset>
<input type="submit" name="saveitem" value="<!-- IF S_EDIT -->{L_rb_edititem_button}<!-- ELSE -->{L_rb_additem_button}<!-- ENDIF -->" class="mainoption bi_ok" />
{CSRF_TOKEN}
</form>