<div class="breadcrumb-container">
	<ul class="breamcrumb">
		<li><a href="{EQDKP_CONTROLLER_PATH}{SID}" title="{L_home}"><i class="fa fa-home"></i></a></li>
		<li><a href="{EQDKP_ROOT_PATH}admin/{SID}">{L_menu_admin_panel}</a>
		<li class="current"><a>{L_gb_breadcrumb_settings}</a></li>
	</ul>
	<div class="clear"></div>
</div>
<form name="gr_settings" action="{ACTION}" method="post">
	<fieldset class="settings">
		<legend>{L_gb_header_global}</legend>
		<div id="sb_settings_general">
			<dl>
				<dt>
					<label>{L_gb_merge_banker}</label><br/>
					<span>{L_gb_merge_banker_help}</span>
				</dt>
				<dd>
					<label>{R_MERGE_BANKER}</label>
				</dd>
			</dl>
			<dl>
				<dt>
					<label>{L_gb_show_money}</label><br/>
					<span>{L_gb_show_money_help}</span>
				</dt>
				<dd>
					<label>{R_SHOW_MONEY}</label>
				</dd>
			</dl>
			<dl>
				<dt>
					<label>{L_gb_show_tooltip}</label><br/>
					<span>{L_gb_show_tooltip_help}</span>
				</dt>
				<dd>
					<label>{R_SHOW_TOOLTIP}</label>
				</dd>
			</dl>
			<dl>
				<dt>
					<label>{L_gb_enable_autoadjustment}</label><br/>
					<span>{L_gb_enable_autoadjustment_help}</span>
				</dt>
				<dd>
					<label>{R_AUTOADJUST}</label>
				</dd>
			</dl>
			<dl>
				<dt>
					<label>{L_gb_default_event}</label><br/>
					<span>{L_gb_default_event_help}</span>
				</dt>
				<dd>
					<label>{DD_EVENT}</label>
				</dd>
			</dl>
		</div>
		<br/>
		<div class="contentFooter">
			<button class="mainoption" type="submit" name="sb_save" ><i class="fa fa-check"></i>{L_save}</button>
			<button class="liteoption" type="reset" name="sb_reset"><i class="fa fa-trash-o"></i>{L_reset}</button>
		</div> 
	</fieldset>
	{CSRF_TOKEN}
</form>