<form method="post" action="{ACTION}" name="post">
	<table width="100%" border="0" cellspacing="1" cellpadding="2" id="calendars_table" class="colorswitch">
		<tr>
			<th align="center" colspan="6">{L_manage_bankers}</th>
		</tr>
		<tr>
			<th width="20"></th>
			<th>{L_name}</th>
			<th>{L_money}</th>
			<th>{L_banker_mainchar}</th>
			<th>{L_note}</th>
			<th></th>
		</tr>
		<!-- BEGIN bankers -->
		<tr>
			<td style="text-align:center;">
				<input type="checkbox" name="banker_ids[]" value="{bankers.ID}" />
				<input type="hidden" name="bankers[{bankers.KEY}][id]" value="{bankers.ID}" />
			</td>
			<td><input type="text" name="bankers[{bankers.KEY}][name]" size="30" maxlength="50" value="{bankers.NAME}" class="maininput" /></td>
			<td>{bankers.MONEY}</td>
			<td>{bankers.DR_BANKCHAR}</td>
			<td><input type="text" name="bankers[{bankers.KEY}][note]" size="50" maxlength="250" value="{bankers.NOTE}" class="maininput" /></td>
			<td><a href="manage_bank_details.php{SID}&g={bankers.ID}"><img src="../../../images/admin/manage_adjustments.png" alt="{L_edit}" /></a></td>
		</tr>
		<!-- END bankers -->
		<tr>
			<td><input type="hidden" name="bankers[{KEY}][id]" value="{ID}" /></td>
			<td><input type="text" name="bankers[{KEY}][name]" size="30" maxlength="50" value="" class="maininput" /></td>
			<td>{MONEY}</td>
			<td>{DR_BANKCHAR}</td>
			<td colspan="2"><input type="text" name="bankers[{KEY}][note]" size="50" maxlength="250" value="" class="maininput" /></td>
		</tr>
		<tr>
			<th colspan="6">
				<input type="submit" name="save" value="{L_save}" class="mainoption bi_ok" />
				<input type="button" name="del" value="{L_delete}" class="liteoption bi_delete" onclick="delete_warning();" />
				<input type="hidden" name="del" value="1" disabled="disabled" id="mass_del_submit" />
			</th>
		</tr>
	</table>
{CSRF_TOKEN}
</form>